section {
    width: 32%;
//    display: block;
    margin-bottom: 1em;
    background-color: white;
    padding: .6em .8em;
    .no-js & {
        float: left;
        margin-left: 2%;
        @include mq($until:tablet){
            margin-left: 3%;
        }
        &:nth-child(3n){
            clear: left;
            margin-left: 0;
        }
    }
    @include mq($until:tablet){
        width: 48.5%;
    }
    p {
        margin: 0;
    }
}